@using Education.Models.Home
@model EducationsVM

@{
    ViewData["Title"] = "Կրթական նյութեր";
    Layout = "_Layout";
}

<div class="about_content">
    <div class="education_box">
        <div class="education_left_box">
            @foreach (var item in Model.GetUIEducation.OrderBy(x => x.EducationsId))
            {
                <a asp-controller="Home" asp-action="Education" asp-route-educationsid="@item.EducationsId" style="@(item.ParentId == 0 ? "font-weight: bold;" : "padding-left: 15px;")" class="education_list">
                    <p>@item.UName</p>
                </a>
            }
        </div>
        <div class="education_right_box">
            <div class="education_title_box">
                <p class="education_title_first">@Model.FindUIEducation.UName</p>
                <p class="education_title_last">@Model.FindUIEducation.UName</p>
            </div>
            <div>
                @Html.Raw(Model.FindUIEducation.UContent)
                <div class="file_content file_content_education">
                    @foreach (var item in Model.GetEducationsFile)
                    {
                        <div class="file_box">
                            <a href="~/Resources/Education/@item.EducationsId/@item.FileName" download>@item.FileName</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>