<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true">
</head>
<body>
    <header>
        <div class="header_box">
            <a href="/" class="left_box">
                <img src="~/images/logo.png" alt="Project">
            </a>
            <div class="right_box">
                <a href="/" class="@(ViewBag.PageName == "home_index" ? "activeMenu" : null)">Գլխավոր էջ</a>
                <a asp-controller="Home" asp-action="Education" class="@(ViewBag.PageName == "home_education" ? "activeMenu" : null)" )>Կրթական նյութեր</a>
                <a asp-controller="Home" asp-action="VideoEducations" class="@(ViewBag.PageName == "home_videoeducations" ? "activeMenu" : null)">Տեսանյութեր</a>
                <a asp-controller="Home" asp-action="AboutCollage" class="@(ViewBag.PageName == "home_aboutcollage" ? "activeMenu" : null)">Գրադարան</a>
                <a asp-controller="Home" asp-action="Feedback" class="@(ViewBag.PageName == "home_feedback" ? "activeMenu" : null)">Հետադարձ կապ</a>
                <div class="headerLine"></div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="btnLogin">
                        <a asp-controller="Account" asp-action="AboutUs">
                            <div></div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="btnLogin">
                        <div></div>
                    </div>
                }
            </div>
        </div>
        <div class="login_box">
            <div class="triangle"></div>
            <form id="form-login" asp-antiforgery="true" method="post" autocomplete="off">
                <div class="input_wrp">
                    <input autocomplete="off" type="text" name="UserName" id="UserName" placeholder="Ծածկանուն" autocapitalize="false">
                </div>
                <div class="input_wrp">
                    <input autocomplete="off" type="password" name="PassWord" id="PassWord" placeholder="Ծածկագիր">
                </div>
                <p class="login_error"></p>
                <button class="loginBtn">Մուտք</button>
            </form>
        </div>
    </header>
    <section>
        <div class="slayder_box">
            <div class="owl-carousel owl-theme">
                <div class="item" style="background-image: url('/images/slayder_1.jpg');">
                    @*<div class="slayd_info">
                        <p class="slyde_title">BEST ONLINE <span>COURSE</span></p>
                        <p class="slyde_text">We provides always our best services for our clients and always try to achieve our client's trust and satisfaction.</p>
                    </div>*@
                </div>
                <div class="item" style="background-image: url('/images/slayder_2.jpg');">
                    @*<div class="slayd_info">
                        <p class="slyde_title">BEST ONLINE <span>COURSE</span></p>
                        <p class="slyde_text">We provides always our best services for our clients and always try to achieve our client's trust and satisfaction.</p>
                    </div>*@
                </div>
                <div class="item" style="background-image: url('/images/slayder_3.jpg');">
                    @*<div class="slayd_info">
                        <p class="slyde_title">BEST ONLINE <span>COURSE</span></p>
                        <p class="slyde_text">We provides always our best services for our clients and always try to achieve our client's trust and satisfaction.</p>
                    </div>*@
                </div>
            </div>
        </div>
        @RenderBody()
    </section>
    <div class="bottom_content"></div>
    <footer>
        <div class="footer_left_box">
            <img src='~/images/logo.png' alt="Project">
            <div class="user_info">
                <p>ԱԱՀ՝</p>
                <p>Նազարյան Ռոզա Արտակի</p>
            </div>
            <div class="user_info">
                <p>Հեռ.՝</p>
                <p>+(374 77) 76-00-94</p>
            </div>
            <div class="user_info">
                <p>Էլ․ հասցե՝</p>
                <p>nazaryan.roza@mail.ru</p>
            </div>
        </div>
        <div class="footer_center_box">
            <p class="footer_title">Կայքի հղումներ</p>
            <div>
                <a href="/">Գլխավոր էջ</a>
                <a asp-controller="Home" asp-action="Education">Կրթական նյութեր</a>
                <a asp-controller="Home" asp-action="VideoEducations">Տեսանյութեր</a>
                <a asp-controller="Home" asp-action="AboutCollage">Գրադարան</a>
                <a asp-controller="Home" asp-action="Feedback">Հետադարձ կապ</a>
            </div>
        </div>
        @await Component.InvokeAsync("BestEducations")
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/OwlCarousel2-2.3.4/dist/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/general.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>